<% content_for :body do %>
  <ul id="stores">
    <% @stores.each do |store| %>
      <li>
        <%= link_to store.title, refinery.stores_store_path(store) %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render '/refinery/content_page' %>
