*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/public
/vendor/bundle
/log/*
/tmp/*
/doc/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
/spec/dummy/*
**.orig
rerun.txt
pickle-email-*.html
tags
