<% content_for :body do %>
  <h1>Products List</h1>
  <ul id="products">
    <% @products.each do |product| %>
      <li>
        <%= link_to product.title, refinery.stores_product_path(product) %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render '/refinery/content_page' %>
